.world-statements {
  text-align: left;
}

#jspsych-target {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}
